<h3>Revision history for set "{{data.title}}"</h3>
<div class="history">
  <div id="fyi{{data.id}}"></div>
  {{#each data.revisions}}
  {{debug this}}
    <div id="rev{{this.id}}" data-vid="{{this.id}}" class="revision {{#if this.current}}current{{/if}}">
      <em>{{this.user}} | {{this.created}}</em>
      <p>{{this.comment}}</p>
      <a href="#" class="approve" data-sid="{{../data.id}}">mark as current version</a>
    </div>
  {{/each}}
</div>