{{!< main}}
<div class="main shadow generic">
  
  <div class="row">
    
    <div id="sets">
      {{#each sets}}
        <div class="set" id="set{{this.id}}">
          <h2>{{this.title}}</h2>
          <p><em>Created: {{this.created}}</em></p>
          <p class="links approved">
            Approved data:
            <a target="_blank" href="{{../global.service}}/sets/{{this.id}}/current?format=xml">XML</a>
            <a target="_blank" href="{{../global.service}}/sets/{{this.id}}/current?format=json">JSON</a>
          </p>
          <p class="links current">
            Newest data:
            <a target="_blank" href="{{../global.service}}/sets/{{this.id}}/latest?format=xml">XML</a>
            <a target="_blank" href="{{../global.service}}/sets/{{this.id}}/latest?format=json">JSON</a>
          </p>
          <p>
            Current revision: {{this.current_revision}}
          </p>
          <p>
            Total revisions: {{this.revisions}}
          </p>
          <div id="revisions{{this.id}}">
            <a class="load" data-sid="{{this.id}}" href="#">View history</a>
          </div>

        </div>
      {{/each}}
    </div>
      
    <div id="update">
    
      <h2>Upload a new data sheet</h2>
    
      <form enctype="multipart/form-data" action="http://sitka-stg.sqm.io/sets/1/new_xls" method="post">
      
      <table>
      <tr>
        <td>Select the set to upload to:</td>
        <td>
          <select>
            {{#each sets}}
              <option value="{{this.id}}">{{this.title}}</option>
            {{/each}}
          </select>
        </td>
      </tr>
      <tr><td>Select a file:</td><td><input type="file" name="file" /></td></tr>
      <tr><td>Sheet # That Contains the Data:</td><td><input type="text" name="sheet" value="5" /> (numeric)</td></tr>
      <tr><td>Header Row # (0 for no header):</td><td><input type="text" name="header_row" value="7" /> (numeric)</td></tr>
      <tr><td>Revision comment:</td><td><input type="text" name="revision_comment" /></td></tr>
      <tr><td>Should this become the new canonical version?</td><td><input type="checkbox" name="make_canonical" value="True"></td></tr>
      <tr><td colspan="2"><em>Be patient with the upload - it may take around 20 seconds or so to import all of the data.</em></td></tr>
      <tr><td colspan="2"><input type="submit" value="Upload" /></td></tr>
      </table>
      </form>
      
      <p id="newXLSData">
      </p>
    
    </div>
      
  </div><!-- /row -->
  
</div>
