{{!< main}}
<div class="main shadow generic">
  <div id="fyi">
  </div>
  <div class="row" id="setsWrap">
    <div id="sets" class="col-sm-7">
      <div id="affixThis">
      {{#each sets}}  
        <div class="set" id="set{{this.id}}">
          <h2 class="clearfix">
            <div class="headertext">{{this.title}}</div>
              <div class="activewrap">
                <!-- <span class="arrow-left"></span> -->
                <span class="activetext">active</span>
              </div>
          </h2>
          <p>
            <em>Created: {{this.created}}</em>
          </p>
          <p class="links approved">
            Approved data:
            <a target="_blank" href="{{../global.service}}/sets/{{this.id}}/current?format=xml">XML</a>
            <a target="_blank" href="{{../global.service}}/sets/{{this.id}}/current?format=json">JSON</a>
          </p>
          <p class="links current">
            Newest data:
            <a target="_blank" href="{{../global.service}}/sets/{{this.id}}/latest?format=xml">XML</a>
            <a target="_blank" href="{{../global.service}}/sets/{{this.id}}/latest?format=json">JSON</a>
          </p>
          <p>
            Current revision: {{this.current_revision}}
          </p>
          <p>
            Total revisions: {{this.revisions}}
          </p>
          <!-- Button trigger modal -->
          <a data-toggle="modal" class="postnew" data-sid="{{this.id}}" href="#" data-target="#modal">Upload a new revision</a>
          <br>
         <!--  <a class="postnew" data-sid="{{this.id}}" href="#">Upload a new revision</a> -->
          <a class="load" data-sid="{{this.id}}" href="#">View history</a>
        </div>
      {{/each}}
      </div>
    </div>
    <div class="col-sm-5" id="revisionsWrap">
      <div id="revisions">
        {{#each sets}}  
        {{/each}}
      </div>
    </div>
  </div><!-- /row -->
</div>
{{#each sets}}  
  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div id="update">

      </div> 
      </div>
    </div>
  </div>        
{{/each}}